[Unit]
Description=notSofia motion detection client
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/bash -c '/usr/local/bin/shinobi_not_sofia_alarm_client --c /usr/local/etc/shinobi_not_sofia_alarm_client/config.txt'
Restart=always

[Install]
WantedBy=multi-user.target
